html {
	font-family: sans-serif;
	background: #eee;
	padding: 1rem;
	font-size: 1rem;

}

body {
	max-width: 50em;
	margin: 0 auto;
	background: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}

nav {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	align-items: center;
	padding: 0 0.5rem;
}

nav h1 {
	flex: auto;
	margin: 0;
	order: 0;
	flex-grow: 1;
}

nav ul {
	list-style: none;
	display: flex;
	flex-shrink: 1;
	margin: 0;
	padding: 0;
}

nav > ul.menu-left {
	order: 2;
}

nav > ul.menu-right {
	order: 3;
}

nav ul li {
	display: block;
	padding: 0.5em;
}

nav a {
	text-decoration: none;
	padding: 0.25em 0.5em;
}

.flash {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid red;
}

.content {
	padding: 0 1em 1em;
}

.content header {
	display: flex;
	align-items: flex-end;
}

.content form {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}

.content label {
	font-weight: bold;
	margin-bottom: 1em;
}

.content input {
	margin-bottom: 1em;
}

.hidden {
	display: none;
}

.list-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border left style: solid;
}

.list-left {
	display: flex;
	order: 1;
	flex-grow: 1;
}

.list-right {
	display: flex;
	order: 2;
	flex-shrink: 1;
}
