{% extends 'base.html' %}

{% block title %}Character Maker{% endblock %}

{% block header %}Create a Character{% endblock %}

{% block content %}
	<form id='characterForm' method='post'>
		{{ form.csrf_token }}
		{{ form.name.label }} {{ form.name }}
		{{ form.traits }}
		{{ form.submit }}
	</form>
	{% if nodeList|length > 0 %}
		<div id='lists'>
			<ul id='guidingNodeList'>
			{% for n in nodeList %}
				<li>{{ n['title'] }}</li>
			{% endfor %}
			</ul>
			<ul id='nodeList'></ul>
		</div>
		<div id='nodeContainer'></div>
	{% endif %}
{% endblock content %}

{% block javascript %}
	<script type='text/javascript'>
		const nodes = {{ nodeList|tojson|safe }};
		const tth = {};
	</script>
	<script type='text/javascript' 
		src="{{ url_for('static', filename='js/character_maker.js') }}"
	></script>
	{% for n in nodeTypes %}
		<script type='text/javascript'
			src="{{ url_for('static', filename=('nodes/'~n~'/character.js')) }}"
		></script>
	{% endfor %}
{% endblock javascript %}
