{% extends 'base.html' %}

{% block title %}Characters{% endblock %}

{% block header %}Your Characters{% endblock %}

{% block content %}
	{% if character_list|length > 0 %}
		{% import 'macros.html' as m %}
		<ul>
		{% for c in character_list %}
			<li class='list-container'>
				<div class='list-left'>
					<a href='{{url_for('characters.view_char',character_id=c.id)}}'>
						{{ c.name }}
					</a>
					<span>&nbsp;for game&nbsp;</span>
					{{ c.system.title }}
				</div>
				<div class='list-right'>
					{{ m.confirm('delete', url_for('characters.delete',character_id=c.id)) }}
				</div>
			</li>
		{% endfor %}
		</ul>
		<a href={{ url_for('characters.pick_sys') }}>make new character</a>
	{% else %}
		<p>Looks like you don't have any characters ¯\_(ツ)_/¯</p>
		<a href={{ url_for('characters.pick_sys') }}>Go make one!</a>
	{% endif %}
{% endblock %}

{% block javascript %}
	<script type='text/javascript'
		src='{{ url_for('static', filename='js/confirm.js') }}'
	></script>
{% endblock %}
