{% extends 'base.html' %}

{% block title %}Character Maker{% endblock %}

{% block header %}Create a Character{% endblock %}

{% block content %}
{% if systems_exist == true  %}
	<form method='post'>
		{{ form.csrf_token }}
		<fieldset>
			<legend>Pick the system for your character</legend>
			{% for subfield in form.systems %}
				{{ subfield }} {{ subfield.label }}
			{% endfor %}
		</fieldset>
		{{ form.submit }}
	</form>
{% else %}
	<p>There are currently no systems ¯\_(ツ)_/¯</p>
	<a href="{{ url_for('systems.create') }}">Go make one!</a>
{% endif %}
{% endblock %}
