{% extends 'base.html' %}

{% block title %}Character{% endblock %}

{% block header %}<h4>Your Character</h4>{% endblock %}

{% block content %}
	<p>Name: {{ char.name }}</p>
	<p>for system: {{system }}</p>
	Traits
	<ul>
		{% for key, val in traits.items() %}
			<li>{{ key }} : {{ val }}</li>
		{% endfor %}
	</ul>
{% endblock %}
