{% extends 'base.html' %}

{% block title %}System Maker{% endblock %}

{% block header %}Create a System{% endblock %}

{% block content %}
	<form id='systemForm' method='post'>
		{{ system_form.csrf_token }}
		{{ system_form.sys_title.label }} {{ system_form.sys_title }}
		{{ system_form.node_list }}
		{{ system_form.sys_submit }}
		<br />
		<ul id='nodeDisplay'>
		</ul>
		<input id='removeNode' name='removeNode' value='remove node'
			type='button'></input>
	</form>
	<br />
	<fieldset id='nodeFieldSet' form='systemForm'>
		{{ node_form.node_title.label }} {{ node_form.node_title }}
		<br />
		{% for subfield in node_form.node_type %}
			{% if loop.first %}
				{{ subfield(checked=1) }} {{ subfield.label }}
			{% else %}
				{{ subfield }} {{ subfield.label }}
			{% endif %}
		{% endfor %}
		{{ node_form.node_config }}
		<div id='nodeContainer'></div>
		{{ node_form.node_submit }}
	</fieldset>
{% endblock %}

{% block javascript %}
	<script type='text/javascript'>
		const nodes = ([
			{% for node in node_list %}
				'{{ node }}'{% if not loop.last %} , {% endif %}
			{% endfor %}
		]);
		const tth = {};
	</script>
	<script type='text/javascript'
		src="{{ url_for('static', filename='js/system_maker.js') }}"
	></script>
	{% for n in node_list %}
		<script type='text/javascript'
			src="{{ url_for('static', filename='nodes/' ~ n ~ '/system.js') }}"
		></script>
	{% endfor %}
{% endblock %}
