{% extends 'base.html' %}

{% block title %}System Maker{% endblock %}

{% block header %}Available Systems{% endblock %}

{% block content %}
{% if systems|length > 0 %}
	{% import 'macros.html' as m %}
	<ul>
	{% for sys in systems %}
		<li class='list-container'>
			<div class='list-left'>
				<span>{{ sys.title }}&nbsp;</span>
				<a href='{{ url_for('characters.create', system_id=sys.id) }}'>
					create character
				</a>
			</div>
			<div class='list-right'>
				{{ m.confirm('delete', url_for('systems.delete', system_id=sys.id)) }}
			</div>
		</li>
	{% endfor %}
	</ul>
	<a href='{{ url_for('systems.create') }}'>make new system</a>
{% else %}
	<p>Looks like you don't have any systems ¯\_(ツ)_/¯</p>
	<a href='{{ url_for('systems.create') }}'>Go make one!</a>
{% endif %}
{% endblock %}

{% block javascript %}
	<script type='text/javascript'
		src='{{ url_for('static', filename='js/confirm.js') }}'
	></script>
{% endblock %}
