<!doctype html>
<head>
<title>{% block title %}TTH{% endblock %}</title>
<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
<script type='text/javascript' src="{{ url_for('static', filename='jquery.js') }}">
</script>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body>
<nav>
	<h1>TableTopHelper</h1>
	<ul class='menu'>
		{% if g.user %}
			<li><a href='{{ url_for('characters.list') }}'>Characters</a></li>
			<li><a href='{{ url_for('systems.list') }}'>Systems</a></li>
		{% endif %}
		{% if g.user %}
			<li>{{ g.user['username'] }}</li>
			<li><a href="{{ url_for('users.logout') }}">logout</a>
		{% else %}
			<li><a href="{{ url_for('users.register') }}">register</a></li>
			<li><a href="{{ url_for('users.login') }}">login</a></li>
		{% endif %}
	</ul>
</nav>
<br />
<section class='content'>
<header>
	{% block header %}{% endblock %}
</header>

{% for message in get_flashed_messages() %}
	<div class='flash'>{{ message }}</div>
{% endfor %}

{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
</section>
</body>
