{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method='post'>
		{{ form.csrf_token }}
		{{ form.username.label }} {{ form.username }}
		{{ form.password.label }} {{ form.password }}
		{{ form.submit }}
	</form>
{% endblock %}
