{% macro confirm(text, action) %}
	<div class='confirmBlock confirm'>
		<input type='button' action='#' class='confirmAsk confirm'
			value="{{ text }}">
		</input>
		<input type='button' class='confirmConfirm hidden confirm'
			onClick='window.location.href="{{ action }}";' value='confirm'>
		</input>
		<input type='button' action='#' class='confirmCancel hidden confirm'
			value="cancel">
		</input>
	</div>
{%- endmacro %}
