{% extends 'base.html' %}

{% block content %}
	<h2>Register</h2>
	<form method='post' action='#'>
		{{ form.csrf_token }}
		{{ form.username.label }} {{ form.username }}
		{{ form.password.label }} {{ form.password }}
		{{ form.confirm_password.label }} {{ form.confirm_password }}
		{{ form.submit }}
	</form>
{% endblock %}
